body 
{
    background-image: url("../images/background.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    background-size:auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   padding: 10px;
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 2%;
    text-align: center;
    font-family: 'Bookman', sans-serif;
    color: #FFFFFF;
}

#greetingDiv
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
    font-size: 30px;
    padding: 25px;
}

.card-body{
    width: 100%;
}

#contacts{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid #ccc;

    background-color: rgb(247, 237, 220);

    overflow-y: auto;
}

.no-contacts {
    text-align: center;
    margin-left: 45%;
    font-style: italic;
    font-size: 1.5rem; /* Adjust the font size as needed */
    margin-top: 20px; /* Adjust the top margin for centering */
}


#contacts ul{
    list-style: none;
}

#contacts-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

#contacts-header h3{
    margin-left: 45%;
}

.contact-item {
    display: flex; /* Use flexbox to arrange contact image and info horizontally */
    align-items: center; /* Center vertically within the contact-item */
    width: 100%; /* Expand contact-item to full width */
}

#contactList {
    padding-left: 0; /* Remove default padding for list */
}

#contactList li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Add a light gray border at the bottom */
    padding: 10px 0; /* Add some spacing between items */
}

#contactList li:last-child {
    border-bottom: none; /* Remove border from the last item to avoid an extra line */
}

.contact-image{
    margin-left: 10px;
    margin-right: 10px;
}

.contact-image img {
    max-width: 50px; /* Adjust the value to your preferred maximum width */
    max-height: 50px; /* Adjust the value to your preferred maximum height */
}

.contact-info{
    margin-left: 40px;
    flex-grow: 1;
    font-size: large;
}

.info {
    display: flex;
    flex-direction: column; /* Stack email and phone vertically */
}

.email,
.phone {
    margin: 0.2em 0; /* Add some spacing between email and phone */
}

#editContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-label{
    font-size: 20px;
}